.select-list {
  display: inline-block;
}

.select-item {
  display: inline-block;
  margin-right: 24px;
  cursor: pointer;
}

.select-item.active {
  font-size: 24px;
  font-weight: bolder;
}

.table {
  margin-top: 30px;
  width: 100%;
}

.table .th, .table .tr {
  display: flex;
  justify-content: space-around;
}

.table .th {
  font-size: 18px;
  font-weight: bolder;
  border-bottom: solid black 1px;
}

.table .td {
  flex: 1;
  padding: 12px 12px;
}

.table .td.top {
  max-width: 50px;
}

.table .td.currency {
  max-width: 80px;
}